.navbar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.navbar-brand-container span {
  display: flex;
  align-items: center;
  gap: 2px;
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}

.navbar-brand-container span::after {
  content: "";
  width: 4px;
  height: 22px;
  background: #b5e550;
  display: inline-block;
  animation: cursor-blink 1.5s steps(2) infinite;
}
